body {
    margin: 0;
    padding: 0;
    background-color: #333F50;
    font-family: Consolas, monaco, monospace;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background: #1E1E24;
}

body::-webkit-scrollbar-thumb {
    background: #DAEAFB;
}

h1 {
    font-weight: bold;
    line-height: 250%;
    text-align: center;
}

h2 {
    font-weight: bold;
    line-height: 200%;
}

h3 {
    font-weight: bold;
    line-height: 150%;
}

.center-container {
    margin-bottom: 1%;
    margin: auto;
}

.left-container {
    margin-bottom: 1%;
}

.right-container {
    margin-bottom: 1%;
}

.logo {
    cursor: pointer;
    width: 100%;
    margin: auto;
}

.logo-right {
    width: 70%;
    float: right;
}

header {
    font-size: 1.2em;
    background-color: #1D242E;
    box-shadow: 5px 5px 5px 0 black;
    margin-bottom: 1%;
}

.without-border {
    border: none;
}

.with-border {
    border-radius: 5px;
    border: 1px solid white;
}

.with-border:hover {
    background: #000;
}

.wrapper {
    background-color: #DAEAFB;
    border-radius: 0.5em;
    box-shadow: 5px 5px 5px black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.start-link {
    font-size: 1.2em;
    font-weight: bold;
    color: white !important;
    padding: 12px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    background-color: #1D242E;
    border-radius: 0.5em;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;
}

.start-link:hover {
    box-shadow: 7px 7px 7px black;
}

.link-inactive {
    color: #1D242E;
}

.link-inactive:hover {
    text-decoration: none;
}

.link-active {
    color: #FFF;
    background-color: #6C757D;
    border-color: #6C757D;
    text-decoration: none;
}

.link-active:hover {
    color: #FFF;
    background-color: #5A6268;
    border-color: #545B62;
}

.form {
    width: 50%;
    margin: auto;
}

.attribution {
    width: 100%;
    color: white;
    font-size: 0.8em;
    padding-top: 1%;
}

.attribution a {
    color: #DAEAFB;
}

.title {
    line-height: 2em;
    font-size: 2em;
    font-weight: bold;
}

.text-font {
    font-family: Consolas, monaco, monospace;
}

.text-fontsize-1-1 {
    font-size: 1.1em;
}

.text-white {
    color: white;
}

.text-height {
    line-height: 1.5em;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-central {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-error {
    color: red;
}

.btn-secondary {
    text-align: center;
    font-weight: bold;
}

.card {
    background-color: #DAEAFB;
}

.shadow-selfmade {
    box-shadow: 5px 5px 5px 0 black !important;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .big-container {
        width: 95%;
    }

    .medium-container {
        width: 95%;
    }

    .small-container {
        width: 95%;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .big-container {
        width: 75%;
    }

    .medium-container {
        width: 35%;
    }

    .small-container {
        width: 25%;
    }
}
