body {
	background-color: #333F50;
	font-family: Consolas, monaco, monospace;
}

h1 {
	font-weight: bold;
	line-height: 250%;
	text-align: center;
}

h2 {
	font-weight: bold;
	line-height: 200%;
}

h3 {
	font-weight: bold;
	line-height: 150%;
}

.center-container {
	margin: auto;
	margin-bottom: 0.1%;
}

.left-container {
	margin-bottom: 0.1%;
}

.right-container {
	margin-bottom: 0.1%;
}

.big-container {
	width: 75%;
}

.medium-container {
	width: 35%;
}

.small-container {
	width: 25%;
}

.logo {
	width: 25%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.nav {
	font-weight: bold;
	display: inline;
}

.nav ul {
	float: right;
	display: inline-block;
	list-style-type: none;
	display: inline-block;
}

.nav ul li {
	float: left;
	display: inline;
}

.nav ul li:first-child {
	border-left: 0.2em solid #FFF;	
}

.nav ul li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 1em 1.35em;
	line-height: 400%;
}

.nav ul li a:hover {
	background-color: #111;
}

.wrapper {
	background-color: #DAEAFB;
	border-radius: 0.5em;
	box-shadow: 5px 5px 5px black;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

.wrapper a {
	color: #333F50;
	text-decoration: none;
}

.wrapper a:hover {
	text-decoration: underline;
}

.footer {
	font-weight: bold;
}

.footer a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 1em 1.35em;
}

.footer a:hover {
	background-color: #111;
}

.footer ul {
	list-style-type: none;
	margin: 1em;
	padding: 0;
}

.footer ul li {
	float: left;
	display: inline;
}

.footer ul li:last-child {
	border-right: none;
}

.attribution {
	width: 100%;
	color: white;
	font-size: 0.8em;
	padding-top: 1%;
}

.attribution a {
	color: #DAEAFB;
}

.title {
	line-height: 2em;
	font-size: 2em;
	text-align: center;
}

.text-height {
	line-height: 1.5em;
}

.text-left {
	text-align: left;
}

.text-central {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

.btn-secondary {
	text-align: center;
	font-weight: bold;
	width: 100%;
}