body {
	background-color: rgb(51, 63, 80);
	font-family: Consolas, monaco, monospace;
}

#logo {
	height: auto;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 1em;
}

#register-wrapper {
	background-color: #DAEAFB;
	border-radius: 0.5em;
	width: 40em;
	height: 500px;
	margin: auto;
	box-shadow: 5px 5px 5px black;
	padding-top: 1em;
	font-weight: bold;
}

#nav {
	width: 25em;
	height: 50px;
	margin: auto;
	font-weight: bold;
}

#attribution {
	width: 25em;
	margin: auto;
	text-align: center;
	color: white;
	font-size: 10pt;
}

#attribution a {
	color: #DAEAFB;
}

#title {
	line-height: 2em;
	font-size: 26pt;
	text-align: center;
}

.login {
	line-height: 1.5em;
	font-size: 12pt;
	text-align: left;
	padding-left: 1em;
	padding-right: 1.5em;
}

#register {
	line-height: 1.5em;
	font-size: 12pt;
	text-align: left;
	padding-left: 1em;
	padding-right: 1.5em;
}


.btn-secondary {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

#already-registered {
	text-align: center;
	line-height: 3em;
}

#already-registered a {
	text-decoration: none;
	color: rgb(51, 63, 80);
}

#already-registered a:hover {
	text-decoration: underline;
}

#nav a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 1em 1.35em;
}

#nav a:hover {
	background-color: #111;
}

#nav ul {
	list-style-type: none;
	margin: 1em;
	padding: 0;
}

#nav ul li {
	float: left;
}

#nav ul li:last-child {
	border-right: none;
}