body {
	background-color: rgb(51, 63, 80);
}

#logo {
	height: auto;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
}

#login-wrapper {
	background-color: #DAEAFB;
	border-radius: 0.5em;
	width: 25em;
	height: 300px;
	margin: auto;
	box-shadow: 5px 5px 5px black;
	padding-top: 1em;
	font-weight: bold;
	font-family: Consolas, monaco, monospace;
}

#register-wrapper{
	background-color: #DAEAFB;
	border-radius: 0.5em;
	width: 25em;
	height: 50px;
	margin: auto;
	box-shadow: 5px 5px 5px black;
	padding-top: 1em;
	font-weight: bold;
	font-family: Consolas, monaco, monospace;
}
#nav {
	width: 25em;
	height: 50px;
	margin: auto;
	font-weight: bold;
	font-family: Consolas, monaco, monospace;
}

#title {
	line-height: 2em;
	font-size: 26pt;
	text-align: center;
}

#login {
	line-height: 1.5em;
	font-size: 12pt;
	text-align: left;
	padding-left: 1em;
	padding-right: 1.5em;
}

#register {
	font-size: 12pt;
	text-align: center;
}

#register a {
	text-decoration: none;
	color: rgb(51, 63, 80);
}

#register a:hover {
	text-decoration: underline;
}

.btn-secondary {
	width: 100% !important;
	text-align: center !important;
	font-family: Consolas, monaco, monospace !important;
	border-color: #6c757d;
    background-image: linear-gradient(-180deg, #6c757d, #adb5bd 90%);
}

.eingabefelder {
	width: 100%;
	height: 1.2em;
	font-family: Consolas, monaco, monospace;
}

#nav a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 1em 1.35em;
}

#nav a:hover {
	background-color: #111;
}

#nav ul {
	list-style-type: none;
	margin: 1em;
	padding: 0;
}

#nav ul li {
	float: left;
}

#nav ul li:last-child {
	border-right: none;
}