version: "2.1"
services:
  trainharder:
    build: .
    volumes:
      - .\build\libs:/opt/jboss/wildfly/standalone/deployments
    environment:
      - DBURL=jdbc:mariadb://mariadbhost:3306/trainharder
      - DBUSER=trainharder
      - DBPASSWORD=passwort
    ports:
      - "8080:8080"
      - "9990:9990"
    depends_on:
      mariadbhost:
        condition: service_healthy

  mariadbhost:
    image: mariadb/server:10.3
    environment:
      - MARIADB_ALLOW_EMPTY_PASSWORD=true
    volumes:
      - ./config/sql:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    healthcheck:
      test: "mysqladmin ping -hmariadbhost"
      interval: 2s
      timeout: 5s
      retries: 30